@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

.text-rich-black {
    color: var(--rich-black);
}
.bg-rich-black {
    background-color: var(--rich-black);
}
.text-prussian-blue {
    color: var(--prussian-blue);
}
.bg-prussian-blue {
    background-color: var(--prussian-blue);
}
.text-cerulean {
    color: var(--cerulean);
}
.bg-cerulean {
    background-color: var(--cerulean);
}
